body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c2c2c;
  }
  
  .calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
  }
  
  input[type="number"], button {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
  }
  
  button {
    background-color: #005555;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #003333;
  }
  
  #result-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #result {
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .additional-text-container {
    background-color: #005555;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: justify;
    width: 100%;
    font-size: 11px;
  }
  
  .credit {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: dimgray;}